#Created by Constraints Editor (xc6slx9-tqg144-3) - 2012/11/05

NET "gb_data<0>" LOC = P1;
NET "gb_data<1>" LOC = P2;
NET "gb_data<2>" LOC = P3;
NET "gb_data<3>" LOC = P5;
NET "gb_data<4>" LOC = P6;
NET "gb_data<5>" LOC = P7;
NET "gb_data<6>" LOC = P8;
NET "gb_data<7>" LOC = P12;

NET "gb_write_n" LOC = P21;
NET "rst_n" LOC = P16;
NET "cs_n" LOC = P14;

NET "addr_15" LOC = P22;
NET "addr_14" LOC = P23;
NET "addr_13" LOC = P27;
NET "addr_12" LOC = P28;

NET "m0" LOC = P29;
NET "m1" LOC = P30;
NET "m2" LOC = P31;
NET "m3" LOC = P32;
NET "m4" LOC = P33;
NET "m5" LOC = P34;
NET "m6" LOC = P36;
NET "m7" LOC = P37;
NET "m8" LOC = P19;

NET "ea0" LOC = P40;
NET "ea1" LOC = P41;
NET "ea2" LOC = P42;
NET "ea3" LOC = P43;

NET "ram_cs_n" LOC = P20;

NET "led" LOC = P39;
NET "pb" LOC = P18;